ul.orders,
ul.order-items {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

li.order {
  box-shadow: 0px 2px 6px rgb(255, 255, 255, 0.2);
  padding: 20px 20px;
  border-radius: 0.25rem;
  background-color: #32394176;
}

ul.order-items {
}

li.order-item {
  border: 1px solid gray;
  padding: 4px 2rem;
}

.invoice_link {
  color: #65de9dff;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;

  &:hover {
    color: #1eec7eff;
  }
}

.relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
